<p style="color: green"><%= notice %></p>

<%= render @original_photo %>

<div>
  <%= link_to "Edit this original photo", edit_original_photo_path(@original_photo) %> |
  <%= link_to "Back to original photos", original_photos_path %>

  <%= button_to "Destroy this original photo", @original_photo, method: :delete %>
</div>
