<div>
  <% if @photo.image_data? %>
    <dl class="dl-horizontal">
      <dd><%= @photo.title %> <%= link_to "Edit", edit_photo_path(@photo) %></dd>
      <dd><%= image_tag @photo.image_url if @photo.image %></dd>
      <dd><%= @photo.image.size %> Bytes</dd>
      <dd><%= "#{@photo.image.width}x#{@photo.image.height}" %> Dimensions</dd>
    </dl>
  <% end %>
</div>
