<!DOCTYPE html>
<html>
  <head>
    <title>Josh Exotic</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-danger">
    <div class="container">
      <% if user_signed_in? %>
        <%= render "layouts/navbar" %>
      <% end %>

      <%= yield %>
      <% unless user_signed_in? %>
        <img src="../../../assets/mural.png" class="img-fluid" alt="...">
      <% end %>
    </div>

  </body>
</html>
